# Database
MONGODB_URI=

# Authentication
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_APP_VERSION=v1.0

# Cloudflare R2 storage
CF_ACCOUNT_ID=
CF_ACCESS_KEY=
CF_SECRET_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_DOMAIN=

# Twilio SMS
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE=
